<div class="container-fluid"></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="row">
    <div class="col">

        <div class="h-100">


        </div>
        <!-- end .h-100-->

    </div>
    <!-- end col -->

</div>






</div>
